<div class="Vlt-grid Vlt-article container">
  <div class="Vlt-col">
    <h1 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-rocket"></use></svg>
      Write for Nexmo
    </h1>
    <p>
      Teach others, grow as a writer and help us build the next go to destination for developers in search of high quality technical content and inspiring development stories
    </p>

    <a class="Vlt-btn Vlt-btn--primary" href="#submit-your-idea">
      Apply Now
    </a>
  </div>
  <div class="Vlt-col Vlt-col--2of3">
  </div>

  <hr class="hr--tall">

  <div class="Vlt-col">
    <h2 class="Vlt-title--icon">
      <svg class="Vlt-yellow"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-app"></use></svg>
      Examples
    </h2>
  </div>

  <div class="Vlt-col">
    <h2 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-search"></use></svg>
      What we're looking for
    </h2>
    <p class="p-large">
      We're interested in both technical tutorials and general pieces on programming. Successful submissions will be:
    </p>
    <p>
      <strong>Original</strong>. Literally, we want original work (nothing that has been published elsewhere). And more figuratively, we want to see original thought and interesting points of view we can't find anywhere else.
    </p>
    <p>
      <strong>Well-written</strong>. Our standards are high, and we want everything published on our blog to meet those standards. That said, you don't have to be a professional writer to submit! If the post is original, helpful and interesting, our editorial team is happy to work with you to get it publication ready.
    </p>

    <h2 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-user"></use></svg>
      What's in it for you?
    </h2>
    <p class="p-large">
      Your tutorial will be published on our blog, and may be shared in our newsletter or showcased as part of our "Tutorial Tuesday" weekly feature.
    </p>
    <p>
      We make every effort to amplify the reach of each and every blog post on our site, and yours will be no exception; you'll have the Nexmo marketing and social media teams behind you getting the word out about your work. Your success is our success
    </p>

    <h2 class="Vlt-title--icon">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-gear"></use></svg>
      The process
    </h2>
    <p class="p-large">
      When we receive your submission, our editorial team will evaluate it to see if it's a good fit for the Nexmo blog.
    </p>
    <p>
      Submission is not a guarantee that your work will be published; we reserve the right to decline submissions that aren't right for our platform. But we want to publish your work and will make a good faith effort to work with each and every community member who takes the time to submit. Our goal is simple: we want to see what you're doing with Nexmo's products, and we want you to share your story with the community.
    </p>
    <p>
      We'll be in touch to let you know if we want to publish your post and share the next steps.
    </p>

    <h2 class="Vlt-title--icon" id="submit-your-idea">
      <svg class="Vlt-blue"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-envelope"></use></svg>
      Submit your idea
    </h2>
    <p class="p-large">
      Please send an email to editor@nexmo.com to propose an idea.
      </p>
    <p class="p-large">
      Introduce yourself in the email body and share enough about your background to give us a picture of who you are and why you'd like to write for us.
    </p>
    <p>
      Include a summary of the post you'd like to write for us. it doesn't have to be long, but should give a clear picture of your idea and why it's valuable to our audience.
    </p>
    <p>
      Include a link to a sample of your written work (a blog post, article or similar).
    </p>
    <p>
      Include the phrase [Name TBD Submission] in the subject line of your email
    </p>


  </div>
</div>
